@tailwind base;
@tailwind components;
@tailwind utilities;

/* == Animation  == */

.fade-in {
  animation-name: fade-in-keyframes;
  animation-duration: var(--duration, 1s);
  animation-delay: var(--delay, 0s);
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes fade-in-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
